h1{color: #15741f;
font-family: 'Times New Roman', Times, serif;
font-size:100px;
background-color: #ffc0cb;
}
p{color: #9c2805;
    background-color:peachpuff;
}
span {
    font-weight: 600;
}
#s1 { color: darkgray;

}
#s3{ color: white;
}

